<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zdmhahaha.BlogMapper">
    <select id="selectNextLink" resultType="String">
        select link from LINKS_TO_BE_PROCESSED limit 1
    </select>
    <delete id="deleteLink" parameterType="String">
        DELETE FROM LINKS_TO_BE_PROCESSED where link = #{link}
    </delete>
    <insert id="insertnews" parameterType="com.github.zdmhahaha.News">
        insert into news (url,title,content,created_at,modified_at) values (#{url},#{title},#{content},now(),now())
    </insert>
    <select id="countLink" parameterType="String" resultType="int">
        select count(link) from LINKS_TO_BE_PROCESSED where link = #{link}
    </select>
    <insert id="insertlink" parameterType="HashMap">
        Insert into
        <choose>
            <when test="tableName == 'LINKS_ALREADY_PROCESSED'">
                LINKS_ALREADY_PROCESSED
            </when>
            <otherwise>
                LINKS_TO_BE_PROCESSED
            </otherwise>
        </choose>
        values (#{link})
    </insert>
</mapper>